/* App */
#home, #projects, #resume {
	opacity: 0;
}

body {
	background-color: #fcfcfc;
}

.children {
    margin: 5px;
}

#nav {
	background-color: white;
	border-bottom: 1px solid #d3d3d3;
}

.navbar {
    height: 50px;
    padding-top: 14px;
    display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

a.link, .content a {
	text-transform: uppercase;
}

a.link, .content a, #contact a, .prev, .next {
    color: #b5b5b5;
	transition: 0.6s ease;
}

h1 {
	background-color: #69a9c6;
	color: white;
	font-size: 36px !important;
	font-weight: 100 !important;
	margin: 0 !important;
	padding: 20px 0;
}
 
h1, h4, h5, h6, div, .navbar {
	font-family: Roboto, 'Century Gothic', sans-serif;
	text-align: center;
}

a.link.active, i, #contact a:hover, .project h4, .prev:hover, .next:hover, .content a:hover, .resume-item h5 {
	color: #69a9c6;
}

/* Home Page */
.home-item img {
	max-width: 100%;
	margin-bottom: 30px;
}

/* Project Page */
.project {
	margin-bottom: 50px;
}

h4 {
	margin: 20px 0 0 0 !important;
	padding-bottom: 25px;
	text-transform: uppercase;
}

#slideControl {
	display: flex;
	justify-content: space-between;
}

.prev, .next {
	cursor: pointer;
	padding: 0 20px 20px 20px;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
}

.index {
	padding: 0 20px 20px 20px;
}

.project img {
	border: 1px solid #b5b5b5;
	width: 100%;
}

.project .content {
	padding: 20px 0;
}

.project .content a{
	font-size: 18px;
}

/* Resume Page */
.resume-item {
	margin: 30px 0;
}

.resume-item h6 {
	font-style: italic;
}

.position {
	color: #b5b5b5;
	font-size: 18px;
}

.resume-item p {
	margin-top: 30px;
}

/* Screen sizes */
@media (min-width: 768px) {
	h1 {
		font-size: 60.9px !important;
	}
	
    .children {
		margin: 50px;
	}
	
	.home-item img {
		margin-bottom: 0;
	}
	
	.home-item .card-panel{
		display: flex;
		justify-content: space-between;
	}

	#contact {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	#contact p{
		margin-bottom: 0;
	}
	
	.navbar {
		display: block
	}
	
	a.link {
		margin: 100px;
	}
}